br
.box.box-danger
  .box-body
    .callout.callout-danger
      h1.text-danger.text-center Oops! P치gina no encontrada
      p.text-center
        | No se ha encontrado nada en la direcci칩n ingresada
      br
      a.btn.btn-default.btn-block.btn-lg(href='/')
        i.fa.fa-home
        |  Volver a la p치gina de inicio
      a.btn.btn-default.btn-block.btn-lg(href='javascript:history.back(1)')
        i.fa.fa-arrow-left
        |  Volver a la p치gina anterior
