br
.box.box-warning
  .box-body
    .callout.callout-warning
      h1.text-warning.text-center Acceso denegado
      p.text-center
        | Sentimos informarle que el usuario actual no posee los permisos necesarios para ingresar a esta sección.
      br
      a.btn.btn-default.btn-block.btn-lg(href='/')
        i.fa.fa-home
        |  Volver a la página de inicio
      a.btn.btn-default.btn-block.btn-lg(href='javascript:history.back(1)')
        i.fa.fa-arrow-left
        |  Volver a la página anterior
