li.treeview
  a(href='#')
    i.fa.fa-usd
    span Finanzas
    i.fa.fa-angle-left.pull-right
  ul.treeview-menu
    li
      a(href='/categorias') 
        i.fa.fa-angle-double-right
        |  Categorias
    li
      a(href='/cuentas') 
        i.fa.fa-angle-double-right
        |  Cuentas
    li
      a(href='/finanzas_informes') 
        i.fa.fa-angle-double-right
        |  Informes