include ../includes/forms/edit/configs_headtitle

.row
  .col-md-12
    .panel.panel-default
      .panel-body
        include ../includes/forms/edit/form
        != form.begin()
        include _form
      .panel-footer
        include ../includes/forms/edit/actions
        != form.end()