.row
  .col-md-12
    ol.breadcrumb(style="margin-bottom: 10px;")
      li
        a(href='/')
          i.fa.fa-home
      li
        a(href='#') #{Vars.subsection}
      li
        a(href='/#{Vars.pluralmodel}')
          | #{Vars.titlemodel}