/* header logo */
body > .header .logo > img {
  width: 65px;
  height: 35px;
}
body > .header .logo {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  font-size: 0px;
}
.skin-black .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
/* required field in forms */
.required-field-block {
  position: relative;
}
.required-field-block .required-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0em;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  padding: 0.5em 0.8em;
  color: rgba(0,0,0,0.65);
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  font-size: 75%;
}
.required-field-block .required-icon {
  background-color: transparent;
  position: absolute;
  top: 0em;
  right: 0em;
  z-index: 10;
  margin: 0em;
  width: 30px;
  height: 30px;
  padding: 0em;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.required-field-block .required-icon:after {
  position: absolute;
  content: "";
  right: 1px;
  top: 1px;
  z-index: -1;
  width: 0em;
  height: 0em;
  border-top: 0em solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.required-field-block .required-icon .text {
  color: #b80000;
  font-size: 26px;
  margin: -3px 0 0 12px;
}
/* class utils */
.head-title {
  font-size: 32px;
  margin-top: 10px;
}
.npl {
  padding-left: 0px;
}
.npt {
  padding-top: 0px;
}
.npb {
  padding-bottom: 0px;
}
.npr {
  padding-right: 0px;
}
.nml {
  margin-left: 0px;
}
.nmr {
  margin-right: 0px;
}
.nmt {
  margin-top: 0px;
}
.nmb {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb8 {
  margin-bottom: 8px;
}
.mt5 {
  margin-top: 5px;
}
#church-title {
  color: #7f7f7f;
}
.skin-black .logo:hover {
  background: #fff;
}
a {
  color: #34495e;
}
a:hover {
  color: #222f3d;
}
.skin-black .treeview-menu > li.active > a {
  color: #fff;
}
.skin-black .treeview-menu > li > a:hover,
.skin-black .sidebar a {
  color: #fff;
}
.skin-black .sidebar {
  border-bottom: 1px solid #2d313f;
}
.skin-black .sidebar > .sidebar-menu > li {
  border-top: 1px solid #2d313f;
  border-bottom: 0px solid #20232f;
}
.skin-black .left-side {
  background: #2d313f;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
  color: #f6f6f6;
  background: #20232f;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #20232f;
  border-left: 4px solid #20232f;
}
.skin-black .treeview-menu > li.active > a {
  font-weight: 600;
  color: #fff;
}
.skin-black .treeview-menu > li > a:hover {
  color: #fff;
}
