/* scroll to top */

a.scroll-to-top {
  -moz-border-radius: 7px 7px 0 0;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-border-radius: 7px 7px 0 0;
  -webkit-transition: all .3s;
  background: #404040;
  border-radius: 7px 7px 0 0;
  bottom: 0;
  color: #FFF;
  display: block;
  height: 9px;
  opacity: 0;
  padding: 13px 0 27px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  width: 49px;
  z-index: 1040
}

a.scroll-to-top:hover {
  filter: alpha(opacity=100);
  opacity: 1
}

a.scroll-to-top.visible {
    filter: alpha(opacity=75);
    opacity: .75
}