script
  :coffee

    $('section.content-header').empty().append('''
    <h1 class="head-title">#{Vars.titlemodel}
      <a id="btnNew" href="#{Vars.pluralmodel}/new" style="margin-left:5px" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Nuevo</a>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="#"> #{Vars.subsection}</a></li>
      <li class="active">#{Vars.titlemodel}</li>
    </ol>''')