include ../includes/index/metahead

script
  :coffeescript(minify=true)

    @listaordenada = () ->
      [
        name: "fecha"
        showname: "Fecha"
      ,
        name: "nombre"
        showname: "Nombre"
        params: ['id', 'nombre']
        parser: @showDetails
      ,
        name: "accciones"
        parser: @setActions
        params: [ "id" ]
        showname: "Acciones"
      ]
