include ../includes/forms/new/headtitle

.row
  .col-md-12
    .panel.panel-default
      .panel-body
        include ../includes/forms/new/form
        != form.begin()
        include _form
      .panel-footer
        include ../includes/forms/new/actions
        != form.end()
