.row
  .col-md-12
    h1
      | Configuraciones
      small  del sistema
    ol.breadcrumb
      li
        a(href='/')
          i.icon-dashboard
          | Inicio
      li.active
        i.icon-file-alt
        | Configuraciones

    .alert.alert-info.alert-dismissable
      | Aquí podrás configurar y establecer valores y parámetros usados dentro del sistema.
.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        h4 Tablas básicas
      .panel-body
        ul
          li
            a(href="/clasificacionsocials") Clasificaciones sociales
          li
            a(href="/estadomembresias") Estados de membresía